@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i&display=swap');

h1,h2,h3,h4,h5,h6{
	font-weight:300;
}

h1,h2,h3,h4,h5,h6,
.big-white,
.ultra-big-white,
.de_tab.tab_steps .de_nav li span,
.teaser-text,
.text-slider,
#mainmenu,
.btn,
a.btn,
.btn-line,
a.btn-line,
#filters,
.typing-wrap,
.pricing-s1 .top .price{
font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4,h5,h6,
.de_tab.tab_steps .de_nav li span
{
letter-spacing:0;
text-transform:none;
}

.blog-list h3, .blog-read h3{
font-size:22px;
}

.ultra-big-white{
font-size:52px;
letter-spacing:5px;
}

.text-slider{
font-size:60px;
letter-spacing:5px;
}

a.btn-line,
a.btn-line-black.btn-big{
	font-weight:100;
}

.pricing-s1 .top .price b {
	font-weight:100 !important;
}

h1.title-2{
	font-weight:100;
}